*.1
*.j2
*.jsonnet
*.kate-swp
*.libjsonnet
*.lock
*.log
*~
.*.swp
.*_cache/
.DS_Store*
.coverage
.cspellcache
.directory
.eslintignore
.pnp.*
.shellcheckrc
/.yarn/**/*.cjs
/.yarn/install-state.gz
/build/
/dist/
node_modules/
